/* home.css */


aside {

}

main {
    width: 100vw; height: 100vh;
}

    section {
        width: 100%; height: 100%;
        display: None;
    }
        .maze {

        }
            .screen {
                width: 100%; height: 70%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
                .container-canvas {
                    width: 22rem; height: 22rem;
                    position: relative;
                    overflow: hidden;
                }
                    .container-canvas canvas {
                        position: absolute;
                        top: 0; left: 0;
                        /* image-rendering: pixelated; */
                    }
                        #obj-canvas {
                            z-index: 1;
                        }

            .control {
                width: 100%; height: 30%;
                display: flex;
            }
                .state {
                    width: 30%; height: 100%;
                    background-color: brown;
                }
                .consol {
                    width: 40%; height: 100%;
                    background-color: cornflowerblue;
                }
                .etc {
                    width: 30%; height: 100%;
                    background-color: darkolivegreen;
                }

        .contact {

        }
            .panel-screen {
                width: 100%; height: 50%;
                border: 1px solid white;
                display: flex;
            }
                .area-u {
                    width: 50%; height: 100%;
                    background-color: green;
                }
                .area-o {
                    width: 50%; height: 100%;
                    background-color: red;
                }
            .panel-control {
                width: 100%; height: 50%;
                border: 1px solid white;
            }
            #announce {
                
            }


        .loading {
            justify-content: center;
            align-items: center;
        }