/* home.css */

main {
    width: 100vw; height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .panel {
        width: 18rem; height: 8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:  rgb(24,34,47);
        border: 1px solid rgb(254,255,220);
        border-radius: 1rem;
        padding: 1rem;

        box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.9); /* 그림자 추가 */
        opacity: 0; /* 패널 처음에 숨김 */
        transition: opacity 1s ease; /* 서서히 나타나는 애니메이션 */
    }
        .start-form {
            display: grid;
            grid-template-columns: [labels] auto [inputs] 1fr;
            grid-template-rows: auto;
            grid-gap: 1rem;
        }
            .start-form label {
                grid-column: labels;
                grid-row: auto;
            }
            .start-form input {
                grid-column: inputs;
                grid-row: auto;
            }
            .start-form button {
                grid-column: span 2;
                background-color: rgb(254,255,220);
                font-size: 2rem;
                color: rgb(24,34,47);
            }