/* common/thema.css */

html {
    /* 1rem */
    font-size: 20px;
}

body {
    width: 100%; height: 100%;
    background-image: url(../image/background/ds.jpg);
    background-size: cover;
    background-position: center;
    color: rgb(254,255,220);
    /* 배경 : rgb(24,34,47) */
    /* 폰트색 :  rgb(254,255,220) */
}

h1 {
    font-size: 1.6rem;
}
h2 {
    font-size: 1.5rem;
    color: deeppink;
}
h3 {
    font-size: 1.4rem;
    color: orangered;
}
h4 {
    font-size: 1.3rem;
    color: orange;
}
h5 {
    font-size: 1.2rem;
}
h6 {
    font-size: 1.1rem;
}