<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>game</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta id="context" data-name="{{ name }}">
    <link rel='stylesheet' type='text/css' href="{{ url_for('static_files', path='css/reset.css') }}">
    <link rel='stylesheet' type='text/css' href="{{ url_for('static_files', path='css/thema.css') }}">
    <link rel='stylesheet' type='text/css' href="{{ url_for('static_files', path='css/game.css') }}">
    <script src="{{ url_for('static_files', path='js/game.js') }}"></script>
</head>
<body>
    <aside>

    </aside>
    <main>
        <section class="maze">
            <div class="screen">
                <div class="container-canvas">
                    <canvas id="maze-canvas"></canvas>
                    <canvas id="obj-canvas"></canvas>
                </div>
            </div>

            <div class="control">
                <div class="state">
                    ID : <span id="id-u"></span><br>
                    NAME : {{ name }}<br>
                    HP : <span id="hp">0</span><br>
                    MP : <span id="mp">0</span><br>
                </div>
                <div class="consol">
                    consol
                </div>
                <div class="etc">
                    etc
                </div>
            </div>
        </section>


        <section class="contact">
            <div class="panel-screen">
                <div class="area-u">
                    NAME : <span id="name-u"></span>
                </div>
                <div class="area-o">
                    NAME : <span id="name-o"></span>
                </div>
            </div>
            <div class="panel-control">
                <span id="announce"></span><hr>
                <button id="r">R</button>
                <button id="s">S</button>
                <button id="p">P</button>

            </div>
        </section>

        <section class="loading">
            <div>
                Loading...                
            </div>
        </section>

        <div class="modal" id="win">
            <div class="modal-content">
                WIN
            </div>
        </div>

        <div class="modal" id="lose">
            <div class="modal-content">
                LOSE
            </div>
        </div>


    </main>
</body>
</html>